.container{
    max-width: 1140px;
    margin: auto;
}
.heading{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #26272b;
    box-shadow: 0px 0px 12px #18191b;
    border-radius: 8px;
    margin: 2rem 1rem;
    padding: .7rem 1rem;
    font-weight: 700;
}
.coin-name{
    margin-left: -4rem;
}

.coin-row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #26272b;
    box-shadow: 0px 0px 12px #18191b;
    border-radius: 8px;
    margin: 2rem 1rem;
    padding: .7rem 1rem;
    cursor: pointer;
}
.coin-row:hover{
    transform: scale(1.04);
    transition: .3s ease-in-out;
    width: auto;
}
.search{
    display: flex;
    justify-content: center;
    align-items: center;
   
}

 #search_input{
    display: flex;
    color: white;
    padding-left: 50px;
    font-weight: bold;
    font-size: 15px;
   background-color: #26272b;
    box-shadow: 0px 0px 12px  #18191b;
    box-shadow: inset 0 0 5px #000000;
    width: 500px;
    height: 40px;
    border-radius: 15px;
 }
img{
    height: 40px;
    margin-right: 8px;
    width: auto;
}
.img-symbol{
    display: flex;
    align-items:center;
}
@media screen and (max-width:720px) {
    .hide-mobile{
        display: none;
    }
}